.me-image{
    max-width: 35vw;
    height: auto;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}
.link-to{
    display: inline-block; 
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
.link-to:hover{
    transform: scale(1.2);
}
.fs-lg{
    font-size: large;
}
.steve{
    width: 4vw;
}
.fs-md{
    font-size: medium;
}
.fs-sm{
    font-size: small;
}
.job{
    width: 3vw;
}
.project-img{
    width: 20vw;
    height: auto;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  }
  
@media screen and (max-width: 800px) {
    .job{
        width: 5vw;
    }
    .steve{
        width: 8vw;
    }
    .project-img{
        width: 30vw;
        height: auto;
    }
}
